.navbarContent{
    color: antiquewhite;
}
.image{
    border-radius: 20px;
}
.navbarText{
    font-family: 'Great Vibes', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: bold;
}
body{
    font-family: 'Raleway', sans-serif;
}
.lead{
    font-weight: 500;
}
.abouth1{
    color: aliceblue;
    font-weight: bold;
}
#home {
    margin-bottom: 0;
}
#About {
    margin-top: 0;
    margin-bottom: 0;

}
.skillsh1{
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    color: aliceblue;
}
.skillsh1:hover{
    /* color: #f5f5f5; */
    transform: scale(1.3);
    transition: 0.5s;
}
.card-img-top{
    width: 10rem;
}
#skills {
    margin-top: 0;
}
.images{
    width: 75%;
    margin-left: auto;
    display: flex;
    margin-right: auto;
    white-space: nowrap;
    padding: 4px;
    align-items: center;
    
}
img{
    padding: 10px;
}
img:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
#navbar-nav{
    font-weight: bold;
}
.album{
    background-color: #31304D;
}
.card-text{
    font-weight: bold;
}
.btn{
    font-weight: bold;
}
.icons{
    padding: 5px;
    margin-right: 5px;
    display: flex;
    margin-top: 5px;
}
.icons:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.certH1{
    color: black;
    margin-top: 30px;
}
.icons-footer{
    padding: 10px;
    margin-right: 5px;
    display: flex;
    margin-top: 5px;
}
.icons-footer:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
form-control{
    padding: 5px;
}
.button{
    margin-top: 20px;
    margin-bottom: 10px;
}
#certifications{
    padding-bottom: 20px;
}

.sub-title{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;
    align-items: center;
    align-content: center;
}
